<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--配置项-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <!--展示形式-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--日志是每天输出的，所以是一个滚动输出文件-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--filter>ThresholdFilter：只拦截当前级别或比当前级别低的，所以如果配置用有ERROR或者WARN级别，也会打印进info.log,此方法行不通-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>INFO</level>-->
        <!--</filter>-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <!--如果与当前级别匹配，则静止-->
            <onMatch>DENY</onMatch>
            <!--否则，接受此规则-->
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>
                /Users/houhanzhi/log/info.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
       <!--只输出error日志，加一个过滤器过滤一下-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
           <level>ERROR</level>
       </filter>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>
                /Users/houhanzhi/log/error.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--配置项用在哪-->
    <root level="info">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>
</configuration>